/*style_enfant.css*/

@font-face {
  	font-family: "Andika";
  	src: url("../font/AndBasR.ttf");
}

body{
	font-family: Andika;
	margin: 0;
}





/*** HEADER ***/

body.page-planning,
body.page-contrat,
body.page-calendrier,
body.page-login,
body.page-planningencours {
	overflow-x: hidden;
}

.bleu {
	background-color: #3a405a;
	height: 20vh;
}

.bleuclair {
	background-color: #6f7aa9;
	height: 5vh;
}

img.logo {
	height: 25vh;
	margin: 0px auto;
}




/*** index.html.twig ***/

body.page-index {
	overflow: hidden;
}

.page-index div .header {
	background-color: #3a405a;
	height: 25vh;
}

.page-index div .calendrier {
	background-color: #6f7aa9;
	height: 25vh;
}

.page-index div .calendrier h1 {
	color: white;
    font-size: 10vh;
    text-align: center;
   	margin-top: 7vh;
}

.page-index img.calendar,
.page-index img.cubes,
.page-index img.list {
	height: 18vh;
	margin: 3vh auto 0px auto;
}

.page-index div .contrat {
	background-color: white;
	height: 25vh;
}

.page-index div .contrat h1 {
	color: #ffa527;
    font-size: 10vh;
    text-align: center;
   	margin-top: 7vh;
}

.page-index div .planning {
	background-color: #ffa527;
	height: 25vh;
}

.page-index div .planning h1 {
	color: #3a405a;
    font-size: 10vh;
    text-align: center;
   	margin-top: 7vh;
}

.page-index .exclamation{
	height: 13vh;
	margin-top: 6vh;
}





/*** calendrier.html.twig ***/

.page-calendrier div.button {
	padding-top: 1%;
	outline-style: none;
}

.page-calendrier button.btn {
	background-color: #ffa527;
	font-size: 40px;
	padding-left: 5%;
	padding-right: 5%;
	outline-style: none;

}





/*** login.html.twig ***/

.erreur {
  margin: 20px auto 0px;
  width: 50%;
  color: red;
  font-size: 1.4em;
  text-align: center;
}

.page-login form {
  text-align: center;
  margin-top: 20px;
}

.page-login input {
	outline-style: none;
}

.page-login input[type="text"],
.page-login input[type="password"] {
	width: 40%;
	border-radius: 6px;
	padding-bottom: 2%;
}

.page-login label, .page-login input {
    font-size: 20px;
}

.page-login label[for="password"] {
	padding-top: 3%;
}

.page-login label[for="remember_me"] {
	padding-top: 3%;
	font-size: 15px;
}

.page-login .row.button {
	padding-top: 3%;
}

.page-login .btn {
	background-color: #3a405a;
	color: white;
	border-radius: 6px;
	padding-left: 12%;
    padding-right: 12%;
    font-size: 20px;
}

.page-login .inscription {
	color: #3a405a;
  display: block;
  text-align: center;
  font-size: 1.2em;
}





/*** planning.html.twig ***/

.page-planning div.accueil a {
	text-decoration: none;
	color: #3a405a;
	font-size: 20px;
    position: absolute;
    top: 25%;
    left: 2%;
}

.page-planning div.accueil a img {
	vertical-align: middle;
	padding-right: 3px;
}

.page-planning h1 {
	text-align: center;
	color: #3a405a;
}

.page-planning div.plannings {
	margin-left: 10%;
	margin-top: 1%
}

.page-planning div.plannings a {
	text-decoration: none;
	color: #3a405a;
}

.page-planning div.planning {
	border: 1px solid black;
	background-color: #e0e3f4;
	margin: 1%;
}

.page-planning div.libelle {
	text-align: center;
}

.page-planning div.images {
	margin-left: 13%;
	margin-bottom: 1%;
}







/*** planningencours.html.twig ***/

.page-planningencours div.temps {
	width: auto;
	position: absolute;
	right: 6%;
}

.page-planningencours .musique {
	position: absolute;
	right: 2%;
    top: 56%;
}

.page-planningencours .duree {
	position: absolute;
	right: 2%;
    top: 65%;
}

.page-planningencours .duree span {
	color: #3a405a;
	font-size: 16px;
    font-weight: 600;
}

.page-planningencours span.temps {
	color: #ffa527;
	font-size: 30px;
}

.page-planningencours span.temps:nth-child(1) {
	padding-left: 6%;
}

.page-planningencours div.images {
	padding-top: 10%;
	padding-bottom: 2%;
	display: flex;
}

.page-planningencours .image.play,
.page-planningencours .image.stop {
	cursor: pointer;
}

.page-planningencours .image.stop {
	margin-left: 15%;
}

.page-planningencours div.dropzone.drop-target {
	opacity: 0.5;
}

.page-planningencours div.corbeille.thiner {
	background-color: red;
	height: 5vh;
	padding-top: 3px;
	padding-left: 49%;
	transition: 0.3s;
}

.page-planningencours div.corbeille.bigger {
	background-color: red;
	height: 10vh;
	padding-top: 12px;
	padding-left: 49%;
	transition: 0.3s;
}

.page-planningencours div.etapes {
	margin-top: 3%;	
}

.page-planningencours div.etape {
	border: 1px solid black;
	margin-bottom: 1%;
}

.page-planningencours div.col-color {
	background-color: #6f7aa9;
	width: 4vw;
    height: 20vh;
}

.page-planningencours div.col-color-first {
	background-color: #ffa527;
	width: 5vw;
    height: 25vh;
    transition: 1s;
}

.page-planningencours div.etapes.draggable.can-drop div.col-color-first {
	background-color: red;
}

.page-planningencours div.blanc-first {
	background-color: white;
	height: 25vh;
}

.page-planningencours div.blanc {
	background-color: white;
	height: 20vh;
}

.page-planningencours h3 {
	color: #ffa527;
	padding-top: 7%;
    font-size: 30px;
    transition: 1s;
}

.page-planningencours div.etapes.draggable.can-drop h3{
	color: red;
}

.page-planningencours .img-etape {
	padding-top: 9%;
}

.page-planningencours .message-ko {
	display: none;
}

.page-planningencours .message-ok {
	margin: 20px auto 0px;
  	width: 50%;
  	color: #3a405a;
  	font-size: 1.4em;
  	text-align: center;
}

.page-planningencours .message-ok form label[for="form_duree"] {
	display: none;
}

.page-planningencours .message-ok form input#form_duree {
	display: none;
}

.page-planningencours .message-ok button {
	background-color: #ffa527;
	margin-top: 1%;
	outline-style: none;
}

.page-planningencours .message-ok img {
	margin-left: 36%;
    margin-top: 5%;
}







/*** Contrat ***/

.page-contrat #casesEtapes .etape img {

}

.page-contrat .row {
	height: 25vh;
}

.page-contrat #casesEtapes {
	margin: 0px auto;

}






/*** contrat404.html.twig ***/

.page-contrat404 .message {
	margin: 20px auto 0px;
    width: 50%;
    color: #3a405a;
    font-size: 1.4em;
    text-align: center;
}

.page-contrat404 .message a {
	text-decoration: none;
	color: #3a405a;
}

.page-contrat404 .message button {
    background-color: #ffa527;
    margin-top: 1%;
    outline-style: none;
}

.page-contrat404 .message img {
	margin-left: 36%;
    margin-top: 5%;
}






/*** creerPlanning.html.twig ***/

.second-titre-page {
 color: #3a405a;
}

.troisieme-titre-page {
  color: #3a405a;
  text-align: center;
}

.form-ajout-seq {
  font-size: 1.2em;
  text-align: center;
}
.form-ajout-seq-input {
  margin-bottom: 10px;
}

#dropzone {
  height: 200px;
  background-color: rgb(230,230,230);
  border-radius: 5px;
}
#dropzone img{
	width: 80px;
  height: 80px;
}

#etape{
  cursor: pointer;
  margin: 30px 5px 0px;
  padding: 5px;
}
#etape p{
  font-size: 1.2em;
  text-align: center;
  height: 30px;
}
.photo-etape {
  width: 100px;
  height: 100px;
  margin: 0px auto 5px;
}
.selected{
  background-color: #e0e3f4;
  box-shadow: 5px 5px 15px 5px #656565;
  transition:0.4s;
}
.in-list {
  margin-right: 40px;
}

/*** ajoutEnfant.html.twig ***/
.form-ajout-enfant {
  text-align: center;
  font-size: 1.2em;
  margin-top: 10px;
}

.form-ajout-enfant-input {
  margin-top: 10px;
  min-width: 200px;
}

.form-ajout-enfant-bouton {
  margin-top: 10px;
  font-size: 1.2em;
}




/*** responsive ***/

@media screen and (max-width: 992px){
	div .contrat h1, div .planning h1, div .calendrier h1{
		font-size: 4vh;
		margin-top: 10vh;
		text-align: left;
	}
}
