/*style_enfant.css*/

@font-face {
  	font-family: "Andika";
  	src: url("../font/AndBasR.ttf");
}

body{
	font-family: Andika;
	margin: 0;
}

/*** HEADER ***/

body.page-planning,
body.page-contrat,
body.page-calendrier,
body.page-login {
	overflow-x: hidden;
}

.bleu {
	background-color: #3a405a;
	height: 20vh;
}

.bleuclair {
	background-color: #6f7aa9;
	height: 5vh;
}

img.logo {
	height: 25vh;
	margin: 0px auto;
}




/*** index.html.twig ***/

body.page-index {
	overflow: hidden;
}

div .header {
	background-color: #3a405a;
	height: 25vh;
}

div .calendrier {
	background-color: #6f7aa9;
	height: 25vh;
}

div .calendrier h1 {
	color: white;
    font-size: 10vh;
    text-align: center;
   	margin-top: 7vh;
}

img.calendar, img.cubes, img.list {
	height: 18vh;
	margin: 3vh auto 0px auto;
}

div .contrat {
	background-color: white;
	height: 25vh;
}

div .contrat h1 {
	color: #ffa527;
    font-size: 10vh;
    text-align: center;
   	margin-top: 7vh;
}

div .planning {
	background-color: #ffa527;
	height: 25vh;
}

div .planning h1 {
	color: #3a405a;
    font-size: 10vh;
    text-align: center;
   	margin-top: 7vh;
}


/*** calendrier.html.twig ***/

.page-calendrier div.button {
	padding-top: 1%;
	outline-style: none;
}

.page-calendrier button.btn {
	background-color: #ffa527;
	font-size: 40px;
	padding-left: 5%;
	padding-right: 5%;
	outline-style: none;

}



/*** login.html.twig ***/

.page-login form {
	padding-top: 2%;
	padding-left: 2%;
	width: 100%;
	margin: auto;
}

.page-login input[type="text"],
.page-login input[type="password"] {
	width: 40%;
	border-radius: 6px;
	padding-bottom: 2%;
}

.page-login label {
    font-size: 20px;
}

.page-login label[for="password"] {
	padding-top: 3%;
}

.page-login label[for="remember_me"] {
	padding-top: 3%;
	font-size: 15px;
}

.page-login .row.button {
	padding-top: 3%;
}

.page-login .btn {
	background-color: #3a405a;	
	color: white;
	border-radius: 6px;
	padding-left: 12%;
    padding-right: 12%;
    font-size: 20px;
}

.page-login a.inscription {
	color: #3a405a;
	padding-left: 14%;
}


/*** responsive ***/

@media screen and (max-width: 992px){
	div .contrat h1, div .planning h1, div .calendrier h1{
		font-size: 4vh;
		margin-top: 10vh;
		text-align: left;
	}
}