{% extends 'enfantBase.html.twig' %}

{% block title %}
	Calendrier
{% endblock title %}

{% block bodyclass %}
	class="page-calendrier"
{% endblock bodyclass %}

{% block body %}
	<div class="row button">
		<div class="col-md-offset-2 col-md-4">
			<button class="btn">Jour</button>
		</div>
		<div class="col-md-offset-2 col-md-4">
			<button class="btn">Semaine</button>
		</div>
	</div>
{% endblock body %}