{% extends 'enfantBase.html.twig' %}

{% block title %}
Planning
{% endblock title %}

{% block bodyclass %}
class="page-planning"
{% endblock bodyclass %}

{% block body %}
<h1>Choisis ton planning</h1>
{% endblock body %}